<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="d-flex justify-content-center">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="">
                        <img class="promo-img"
                            src="https://lcdn.altex.ro/media/ibanner/H/o/Homepage_Banner_Campanie_saptamanala_2x.png"
                            alt="promo-img 1">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="">
                        <img class="promo-img" src="https://lcdn.altex.ro/media/ibanner/E/x/Extra_Homepage_2x.png"
                            alt="promo-img 2">
                    </div>
                </ng-template>
            </ngb-carousel>

        </div>
    </section>

</body>

</html>