<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>

    <app-box-cart></app-box-cart>
    <section>


        <div class="card" style=" margin-left: 10%; margin-top: 5%; padding-bottom: 5em; width: 50%;">
            <div class="card-body">
                <div>
                    <!-- {{ item.title }} {{ item.price | currency: "RON"}} -->
                    <!-- <p class="float-end" (click)="element.remove()">Sterge</p> -->
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <article>
        <div class='text-center justify-content-center' style="margin-top: 5%;">
            <h4>Cosul tau este gol!</h4>
            <p>Daca ai un cont te rugam sa intri in cont si te vom directiona catre produsele din cos</p>
            <a style="width: 10%;" href="" class="btn btn-info">Intoarce-te in magazin!</a>
            <p>sau te poti <a class="link-info" href="">intoarce in magazin</a> pentru a continua cumparaturile.</p>
        </div>
    </article>

    <router-outlet></router-outlet>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>