<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>
    <div class="float-end info-product shadow" style="margin-right: 5%; margin-top: 10%; padding: 3%;">
        <h4 class="info-product-title" style="font-weight: 700;">{{product.title}}</h4>
        <h5 class="info-product-selle">Vandut De: {{product.company}}</h5>
        <h5 class="info-product-shipper">Livrat De: {{product.deliveryCompany}}</h5>
        <ngb-rating style="color:yellowgreen;font-size: 1.5em;" [(rate)]="product.rate" [max]="5"></ngb-rating>
        <pre>Current Rate: <b>{{product.rate}}</b></pre>
        <h5>{{product.isInStock? 'In stock' : 'Nu e in stock'}} </h5>
        <h5>Pretul in RON: {{product.price | currency:"RON"}}</h5>
        <button [disabled]="!product.isInStock" (click)="Pay()" class="btn btn-outline-info info-product-price"
            style="width: 100%;"><img
                src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/35/000000/external-cart-grocery-flatart-icons-flat-flatarticons.png" /></button>
        <br>
        <button (click)="Fav()" class="btn btn-outline-info info-product-cart" style="width: 100%;"><img
                src="https://img.icons8.com/emoji/30/000000/star-emoji.png" /></button>
    </div>

</body>

</html>