<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="float-end pay ">
        <div class="card shadow">
            <h3 class="card-title">Total summar:</h3>
            <p class="card-text">Cost Livrare: </p>
            <p class="card-text"> <span #element >Total: {{total | currency: "RON"}}  </span> </p>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-primary">Plateste!</button>
            </div>
        </div>
    </div>

</body>

</html>