/* body {
  background-color: #f7f7f7;
} */
.navbar-brand {
  margin-top: 3%;
}
form {
  padding: 4%;
  background-color: #fff;
}
.navbar-brand {
  margin-top: 5%;
}
.header {
  font-weight: 100;
}
.btn {
  border-radius: 20px;
  margin-top: 20px;
  filter: grayscale(100);
}
.btn-space {
  margin-left: 10px;
  margin-right: 10px;
}
.btn:hover {
  color: aqua;
  filter: grayscale(0);
  transform: scale(1.1);
  transition: all 1s;
}
.btn-apple {
  color: white;
}
.create {
  text-decoration: underline;
  cursor: pointer;
}
.create:hover {
  color: #00d4d4;
}
.username {
  height: 12%;
  width: 100%;
  border-radius: 20px;
}
input {
  text-align: center;
}
.btn-next {
  height: 10%;
  margin-top: 20px;
  border-radius: 20px;
}
input.ng-invalid {
  background: white
    url("https://img.icons8.com/fluency/35/000000/high-importance.png") left
    no-repeat;
}
input.ng-valid {
  background: white url(https://img.icons8.com/color/30/000000/ok.png) left no-repeat;
}
/* span[data-tool-tip] {
  position: relative;
}
span[data-tool-tip]::after {
  content: attr(data-tool-tip);
  color: #000;
  background: red;
  display: block;
  position: absolute;
  padding: 0.2rem;
  bottom: -10%;
  left: 0%;
  border-radius: 20px;
  transform: scale(0);
  transition: ease-out 055ms;
}
span[data-tool-tip]:hover::after {
  transform: scale(1);
} */
