<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="cont.component.css">
    <title>Document</title>
</head>

<body>
    <div>
        <div class="d-flex justify-content-center navbar-img ">
            <img class="navbar-brand"
                src="https://img.icons8.com/external-justicon-flat-justicon/60/000000/external-deviantart-social-media-justicon-flat-justicon.png"
                alt="brand">
        </div>
        <div class="d-flex justify-content-center flex-wrap">
            <form class="shadow-lg" [formGroup]="LoginForm" action="cont.inc.php" method="post">
                <h4 class="text-center">Salut!</h4>
                <h5 class="text-center">Introdu adresa de email</h5>
                <input type="email" name="email" class=" username" formControlName="email" placeholder="Enter Mail">
                <span *ngIf="email && email.invalid" class="d-flex justify-content-center">Mail Required</span>
                <input type="password" name="password" class="w-100 username" formControlName="password"
                    placeholder="Password" style="margin-top: 20px;"> <br>
                <span *ngIf="password && password.invalid" class="d-flex justify-content-center">Password
                    Required</span>
                <button type="submit" class="btn btn-dark w-100">Continua</button>
                <div class="text-center">
                    Nu ai cont? Nu-ti face griji
                    <br>
                    Poti crea unul in pasul urmator
                    <a class="create"routerLink="/create">Creaza Cont!</a>
                </div>

                <div class="d-flex justify-content-center">
                    <!-- <img src="https://img.icons8.com/fluency/50/000000/facebook-new.png" alt="facebook-logo" />
                <img src="https://img.icons8.com/external-justicon-flat-justicon/50/000000/external-google-plus-social-media-justicon-flat-justicon.png"
                    alt="google-logo" />
                <img src="https://img.icons8.com/ios-filled/50/000000/ios-logo.png" /> -->
                    <a class="btn" style="background-color: #0096ff;">
                        <img class="float-start w-25" src="https://img.icons8.com/fluency/30/000000/facebook-new.png"
                            alt="facebook-logo" />
                        Facebook
                    </a>
                    <a class="btn btn-space" style="background-color: #ff5200;">
                        <img src="https://img.icons8.com/external-justicon-flat-justicon/30/000000/external-google-plus-social-media-justicon-flat-justicon.png"
                            alt="google-logo" />
                        Google
                    </a> <a class="btn" style="background-color: black">
                        <img style="background-color: white;" src="https://img.icons8.com/ios/30/000000/mac-os--v2.png"
                            alt="apple" />
                        Apple
                    </a>
                </div>
            </form>
        </div>
    </div>


</body>

</html>